{% extends 'common/index.html' %}
{% load static %}

{% block header %}
<style>
	/* Search bar  */
	form {
		outline: 0;
		float: left;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

	form>.textbox {
		outline: 0;
		height: 42px;
		width: 500px;
		line-height: 42px;
		padding: 0 16px;
		background-color: rgba(255, 255, 255, 0.8);
		color: #212121;
		border: 0;
		float: left;
		-webkit-border-radius: 4px 0 0 4px;
		border-radius: 4px 0 0 4px;
	}

	form>.textbox:focus {
		outline: 0;
		background-color: #FFF;
	}

	form>.button {
		outline: 0;
		background: none;
		background-color: rgba(38, 50, 56, 0.8);
		float: left;
		height: 42px;
		width: 42px;
		text-align: center;
		line-height: 42px;
		border: 0;
		color: #FFF;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 16px;
		text-rendering: auto;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		-webkit-transition: background-color .4s ease;
		transition: background-color .4s ease;
		-webkit-border-radius: 0 4px 4px 0;
		border-radius: 0 4px 4px 0;
	}

	form>.button:hover {
		background-color: rgba(0, 150, 136, 0.8);
	}

	/* departments */

	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font: 14px/1 'Open Sans', sans-serif;
		color: #555;
		background: #fff;
	}

	.gallery {
		width: 100%;
		padding: 50px;
		margin: 0 auto;
		/* padding: 5px; */
		background: #fff;
		/* box-shadow: 0 1px 2px rgba(0, 0, 0, .3); */
	}

	.gallery>div {
		position: relative;
		float: left;
		padding: 20px;
	}

	.gallery>div>img {
		display: block;
		height: 200px;
		width: 200px;
		transition: .1s transform;
		transform: translateZ(0);
		/* hack */
	}

	.gallery>div:hover {
		z-index: 1;
	}

	.gallery>div:hover>img {
		transform: scale(1.7, 1.7);
		transition: .3s transform;
	}

	.cf:before,
	.cf:after {
		display: table;
		content: "";
		line-height: 0;
	}

	.cf:after {
		clear: both;
	}


</style>
{% endblock %}


{% block content %}

<section class="page-title bg-3">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block text-center">
					<!-- <span class="text-white">All Department</span> -->
					<h1 class="text-capitalize mb-5 text-lg">Departments</h1>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section service-2 dept">
	<div class="container">

		<div class="gallery cf">
			<div>
				<img src="{% static 'images/dept/cardiology.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/pregnancy-1.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/paediatrics-img.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/neuro.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/gastro.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/ortho.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/renal.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/endocrine-1.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/psy.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/oncology.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/anesthesiology.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/Radiology.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/dermatology.jpg' %}" />
			</div>
			<div>
				<img src="{% static 'images/dept/blood2.jpg' %}" />
			</div>

		</div>
	</div>
</section>

{% endblock %}