/* body {font-family: Arial, Helvetica, sans-serif;} */

		/* The Modal (background) */
		.modal {
			display: none;
			/* Hidden by default */
			position: fixed;
			/* Stay in place */
			z-index: 1;
			/* Sit on top */
			padding-top: 100px;
			/* Location of the box */
			left: 25%;
			top: 0;
			width: 50%;
			justify-content: center;
			/* Full width */
			height: 100%;
			/* Full height */
			overflow: auto;
			/* Enable scroll if needed */
			/* background-color: rgb(0,0,0);  */
			/* Fallback color */
			/* background-color: rgba(0,0,0,0.4);  */
			/* Black w/ opacity */
		}

		/* Modal Content */
		.modal-content {
			position: relative;
			background-color: #fefefe;
			margin: auto;
			padding: 0;
			border: 1px solid #888;
			width: 80%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-animation-name: animatetop;
			-webkit-animation-duration: 0.4s;
			animation-name: animatetop;
			animation-duration: 0.4s
		}

		.modal-body .title-text {
			display: flex;
			width: 200%;
		}

		.modal-body .title {
			width: 50%;
			font-size: 35px;
			font-weight: 600;
			text-align: center;
			transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}

		/* Add Animation */
		@-webkit-keyframes animatetop {
			from {
				top: -300px;
				opacity: 0
			}

			to {
				top: 0;
				opacity: 1
			}
		}

		@keyframes animatetop {
			from {
				top: -300px;
				opacity: 0
			}

			to {
				top: 0;
				opacity: 1
			}
		}

		/* The Close Button */
		.close {
			color: white;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}

		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

		.modal-header {
			padding: 2px 16px;
			background-color: #04609D;
			color: white;
		}

		.modal-body {
			padding: 2px 16px;
		}

		.modal-footer {
			padding: 2px 16px;
			background-color: #04609D;
			color: white;
		}


		.wrapper {
			margin-left: 15%;
			overflow: hidden;
			max-width: 390px;
			background: #fff;
			padding: 30px;
			border-radius: 5px;
			box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
		}

		.wrapper .title-text {
			display: flex;
			width: 200%;
		}

		.wrapper .title {
			width: 50%;
			font-size: 35px;
			font-weight: 600;
			text-align: center;
			transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}

		.wrapper .form-container {
			width: 100%;
			overflow: hidden;
		}

		.form-container .form-inner {
			display: flex;
			width: 200%;
		}

		.form-container .form-inner form {
			width: 50%;
			transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}

		.form-inner form .field {
			height: 50px;
			width: 100%;
			margin-top: 20px;
		}

		.form-inner form .field select {
			height: 100%;
			width: 100%;
			outline: none;
			padding-left: 15px;
			border-radius: 5px;
			border: 1px solid lightgrey;
			border-bottom-width: 2px;
			font-size: 17px;
			transition: all 0.3s ease;
		}

		.form-inner form .field select:focus {
			border-color: #fc83bb;
			/* box-shadow: inset 0 0 3px #fb6aae; */
		}

		.form-inner form .field input {
			height: 100%;
			width: 100%;
			outline: none;
			padding-left: 15px;
			border-radius: 5px;
			border: 1px solid lightgrey;
			border-bottom-width: 2px;
			font-size: 17px;
			transition: all 0.3s ease;
		}

		.form-inner form .field input:focus {
			border-color: #8f83fc;
			/* box-shadow: inset 0 0 3px #fb6aae; */
		}

		.form-inner form .field input::placeholder {
			color: #999;
			transition: all 0.3s ease;
		}

		form .field input:focus::placeholder {
			color: #b3b3b3;
		}

		.find  {
			height: 80px;
			width: 50%;
			border-radius: 5px;
			position: relative;
			overflow: hidden;
		}

		/* form .btn .btn-layer {
			height: 100%;
			width: 300%;
			position: absolute;
			left: -100%;
			background: -webkit-linear-gradient(right, #6FA7CC, #04609D, #6FA7CC, #04609D);
			border-radius: 5px;
			transition: all 0.4s ease;
			;
		} */

		/* form .btn:hover .btn-layer {
			left: 0;
		} */


		/* form .btn input[type="submit"] {
			height: 100%;
			width: 100%;
			z-index: 1;
			position: relative;
			background: none;
			border: none;
			color: #fff;
			padding-left: 0;
			border-radius: 5px;
			font-size: 20px;
			font-weight: 500;
			cursor: pointer;
		} */
