{% extends 'patient/patient_home.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <!-- <span class="text-white">Book your Seat</span> -->
                        <h1 class="text-capitalize mb-5 text-lg">Online Consultation</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12">

                    <table>
                        <tr>
                            <td class="text-white bg-primary-dark text-center text-capitalize mb-5 text-lg"> BOOK AN
                                APPOINTMENT </td>
                        </tr>
                        <tr>
                            <td> <img src="{% static 'images/patient-appointment-systems-in-hospitals-featured2.png' %}"
                                    alt="" class="img-fluid"> </td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                        <h2 class="mb-2 title-color">Make your booking</h2>
                        <form id="#" class="appoinment-form" method="post" action="#">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>select department</option>
                                            <option>Heart Centre</option>
                                            <option>Neuro Science</option>
                                            <option>Liver and gastro science</option>
                                            <option>Women Care</option>
                                            <option>Child Care</option>
                                            <option> orthopaedics</option>
                                            <option> Renal Care</option>
                                            <option> pulmonology</option>
                                            <option> Endocrine sciences</option>
                                            <option> opthalmology</option>
                                            <option>Dental Care</option>
                                            <option> Surgical oncology</option>
                                            <option> psycyhiatry </option>
                                            <option> Anaesthesiology</option>
                                            <option> Dermatology</option>
                                            <option> Radiology</option>


                                        </select>

                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <select class="form-control" id="exampleFormControlSelect2">
                                            <option>Select Doctors</option>
                                            <option>Software Design</option>
                                            <option>Development cycle</option>
                                            <option>Software Development</option>
                                            <option>Maintenance</option>
                                            <option>Process Query</option>
                                            <option>Cost and Duration</option>
                                            <option>Modal Delivery</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <input name="date" id="date" type="text" class="form-control"
                                            placeholder="dd/mm/yyyy">
                                    </div>
                                </div>

                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <input name="time" id="time" type="text" class="form-control"
                                            placeholder="Time">
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <input name="name" id="name" type="text" class="form-control"
                                            placeholder="Full Name">
                                    </div>
                                </div>

                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <input name="phone" id="phone" type="Number" class="form-control"
                                            placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-2 mb-4">
                                <textarea name="message" id="message" class="form-control" rows="6"
                                    placeholder="Your Message"></textarea>
                            </div>

                            <a class="btn btn-main btn-round-full" href="{% url 'patient:confirm' %}">Make Appoinment<i
                                    class="icofont-simple-right ml-2"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}