{% extends 'patient/patient_home_base.html' %}

{% load static %}


{% block header %}
<!-- Add style tag for individual pages  -->

<link rel="stylesheet" href=" {% static 'css/home.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
	integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
	integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />



<style>
	.r1 {
		height: 200px;
	}

	.container-fluid {
		margin-top: 50px;
		height: 500px;
	}

	.bookings {
		margin-left: 600px;
		margin-top: 10px;
		box-shadow: 0 3px 1px -2px rgba(0 0 0 / 20%),
			0 2px 2px 0 rgba(0 0 0 / 14%),
			0 1px 5px 0 rgba(0 0 0 / 12%);
		text-decoration: none;
		border-radius: 10px;
		background-color: rgb(186, 83, 83);
	}


	.card {
		border: none;
		margin-left: 600px;
		width: 200px;
		background-color: rgb(1, 10, 108);
	}
</style>



{% endblock %}


{% block content %}


<div class="container-fluid">
	<div class="row r1 mt-3">
		<div class="col-1">
			<img src="{% static 'images/doctor.jpg' %}" alt="img">
		</div>

		<div class="col-3">
			<div class="card appointment" style="border-radius: 15px;">
				<div class="card-body p-4">
					<div class="d-flex text-black">
						<div class="flex-shrink-0">
							<span style="color:white;">
								<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-activity">
									<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
									<circle cx="12" cy="7" r="4"></circle>
								</svg>
							</span>
							<h5 class="mt-4 mb-1 text-white">MY PROFILE</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-3">
			<div class="card appointment" style="border-radius: 15px;">
				<div class="card-body p-4">
					<div class="d-flex text-black">
						<div class="flex-shrink-0">
							<span style="color:white;">
								<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-activity">
									<rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
									<line x1="16" y1="2" x2="16" y2="6"></line>
									<line x1="8" y1="2" x2="8" y2="6"></line>
									<line x1="3" y1="10" x2="21" y2="10"></line>
								</svg>
							</span>
							<h5 class="mt-4 mb-1 text-white">DOCTORS</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-1">

		</div>

		<div class="col-3">
			<div class="card appointment" style="border-radius: 15px;">
				<div class="card-body p-4">
					<div class="d-flex text-black">
						<div class="flex-shrink-0">
							<span style="color:white;">
								<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-activity">
									<rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
									<line x1="16" y1="2" x2="16" y2="6"></line>
									<line x1="8" y1="2" x2="8" y2="6"></line>
									<line x1="3" y1="10" x2="21" y2="10"></line>
								</svg>
							</span>
							<h5 class="mt-4 mb-1 text-white">BOOKINGS</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-3">
			<div class="card appointment" style="border-radius: 15px;">
				<div class="card-body p-4">
					<div class="d-flex text-black">
						<div class="flex-shrink-0">
							<span style="color:white;">
								<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-activity">
									<rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
									<line x1="16" y1="2" x2="16" y2="6"></line>
									<line x1="8" y1="2" x2="8" y2="6"></line>
									<line x1="3" y1="10" x2="21" y2="10"></line>
								</svg>
							</span>
							<h5 class="mt-4 mb-1 text-white">APPOINTMENTS</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


</div>


{% endblock %}